[submodule "src/logx"]
	path = src/logx
	url = https://github.com/ncareol/logx.git
[submodule "src/qttoolbox"]
	path = src/qttoolbox
	url = https://github.com/ncareol/qttoolbox.git
[submodule "src/site_scons"]
	path = src/site_scons
	url = https://github.com/ncareol/eol_scons.git
[submodule "src/ascope"]
	path = src/ascope
	url = https://github.com/NCAR/ascope.git
[submodule "src/tcpscope"]
	path = src/tcpscope
	url = https://github.com/NCAR/tcpscope.git
[submodule "src/Archive_xmlrpc_c"]
	path = src/Archive_xmlrpc_c
	url = https://github.com/NCAR/Archive_xmlrpc_c.git
[submodule "src/QXmlRpcServerAbyss"]
	path = src/QXmlRpcServerAbyss
	url = https://github.com/NCAR/QXmlRpcServerAbyss.git
[submodule "src/QFunctionWrapper"]
	path = src/QFunctionWrapper
	url = https://github.com/NCAR/QFunctionWrapper.git
[submodule "src/Pentek7142"]
	path = src/Pentek7142
	url = https://github.com/NCAR/Pentek7142.git
[submodule "src/Pmc730"]
	path = src/Pmc730
	url = https://github.com/NCAR/Pmc730.git
[submodule "src/cmigits"]
	path = src/cmigits
	#
	# This repo is accessed via a TCP tunnel from local port 2200 to
	# ssh port 22 on an EOL machine. Here's a ssh session to
	# gate.ucar.edu which would set up the tunnel:
	#
	#    $ ssh -L 2200:tikal.eol.ucar.edu:22 gate.ucar.edu
	#
	url = ssh://localhost:2200/net/cds/git/cmigits-hcr.git
[submodule "src/ReadyFlow7142_428_WinDriver1150"]
	path = src/ReadyFlow7142_428_WinDriver1150
	url = http://gitlab.eol.ucar.edu/vendor/ReadyFlow7142_428_WinDriver1150.git
