[submodule "src/logx"]
	path = src/logx
	url = https://github.com/ncareol/logx.git
[submodule "src/qttoolbox"]
	path = src/qttoolbox
	url = https://github.com/ncareol/qttoolbox.git
[submodule "src/site_scons"]
	path = src/site_scons
	url = https://github.com/ncareol/eol_scons.git
[submodule "src/ascope"]
	path = src/ascope
	url = /space/dt/burghart/git_migration/ascope.git
[submodule "src/tcpscope"]
	path = src/tcpscope
	url = /space/dt/burghart/git_migration/tcpscope.git
[submodule "src/Archive_xmlrpc_c"]
	path = src/Archive_xmlrpc_c
	url = /space/dt/burghart/git_migration/Archive_xmlrpc_c.git
[submodule "src/QXmlRpcServerAbyss"]
	path = src/QXmlRpcServerAbyss
	url = /space/dt/burghart/git_migration/QXmlRpcServerAbyss.git
[submodule "src/QFunctionWrapper"]
	path = src/QFunctionWrapper
	url = /space/dt/burghart/git_migration/QFunctionWrapper.git
[submodule "src/pentek7142"]
	path = src/pentek7142
	url = /space/dt/burghart/git_migration/eol_pentek7142.git
[submodule "src/ReadyFlow7142_428"]
	path = src/ReadyFlow7142_428
	url = /space/dt/burghart/git_migration/ReadyFlow7142_428.git/
[submodule "src/Pmc730"]
	path = src/Pmc730
	url = /space/dt/burghart/git_migration/Pmc730.git
[submodule "src/cmigits"]
	path = src/cmigits
	#
	# Port localhost:2200 needs to be tunnelled to port 22 on an
	# EOL machine. Here's a ssh session to gate.ucar.edu which would
	# set up the tunnel:
	#
	#    $ ssh -L 2200:tikal.eol.ucar.edu:22 gate.ucar.edu
	#
	url = ssh://localhost:2200/net/cds/git/cmigits-hcr.git
