[submodule "src/logx"]
	path = src/logx
	url = git@github.com:ncareol/logx.git
[submodule "src/qttoolbox"]
	path = src/qttoolbox
	url = git@github.com:ncareol/qttoolbox.git
[submodule "src/site_scons"]
	path = src/site_scons
	url = git@github.com:ncareol/eol_scons.git
[submodule "src/ascope"]
	path = src/ascope
	url = git@github.com:NCAR/ascope.git
[submodule "src/tcpscope"]
	path = src/tcpscope
	url = git@github.com:NCAR/tcpscope.git
[submodule "src/Archive_xmlrpc_c"]
	path = src/Archive_xmlrpc_c
	url = git@github.com:NCAR/Archive_xmlrpc_c.git
[submodule "src/QXmlRpcServerAbyss"]
	path = src/QXmlRpcServerAbyss
	url = git@github.com:NCAR/QXmlRpcServerAbyss.git
[submodule "src/QFunctionWrapper"]
	path = src/QFunctionWrapper
	url = git@github.com:NCAR/QFunctionWrapper.git
[submodule "src/Pentek7142"]
	path = src/Pentek7142
	url = git@github.com:NCAR/Pentek7142.git
[submodule "src/Pmc730"]
	path = src/Pmc730
	url = git@github.com:NCAR/Pmc730.git
[submodule "src/cmigits"]
	path = src/cmigits
	url = git@gitlab.eol.ucar.edu:ITAR/cmigits-hcr.git
[submodule "src/ReadyFlow7142_428_WinDriver1150"]
	path = src/ReadyFlow7142_428_WinDriver1150
	url = git@gitlab.eol.ucar.edu:vendor/ReadyFlow7142_428_WinDriver1150.git
