/_ngo
/_xmsgs
/xlnx_auto_0_xdb
/iseconfig
/isim
/xst
/vivado_sim/vivado_sim.sim
/vivado_sim/vivado_sim.cache
/vivado_sim/vivado_sim.hw
*.log
*.xml
*.xwbt
*.bgn
*.bld
*.cfi
*.cmd_log
*.drc
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prm
*.ptwx
*.sig
*.syr
*.twr
*.twx
*.unroutes
*.blc
*.ngc
*.html
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt


