
NET "RESETn_CPCI" LOC = P85 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "T0" LOC = P88 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "MOD_PULSE" LOC = P33 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EMS_TRIG" LOC = P30 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "RX_GATE" LOC = P16 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "HVn_CMD_PENTEK" LOC = P25 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EXT_CLK" LOC = P40 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "SYNC_PULSE_CLK" LOC = P21 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "HVn_FLAG" LOC = P94 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

# NET "ONE_PPS" LOC = P41 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "EMS_PWR_ERROR" LOC = P27 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "HV_ON_730" LOC = P99 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "FIL_ON_730" LOC = P4 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "OPS_MODE_730<0>" LOC = P78 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "OPS_MODE_730<1>" LOC = P82 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "OPS_MODE_730<2>" LOC = P90 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "STATUS_ACK" LOC = P29 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "BIT_EMS<1>" LOC = P65 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "BIT_EMS<2>" LOC = P68 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "BIT_EMS<3>" LOC = P70 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "BIT_EMS<4>" LOC = P71 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "BIT_EMS<5>" LOC = P72 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "BIT_EMS<6>" LOC = P73 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "BIT_EMS<7>" LOC = P77 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "EMS_OUT<1>" LOC = P48 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EMS_OUT<2>" LOC = P64 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EMS_OUT<3>" LOC = P59 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EMS_OUT<4>" LOC = P60 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EMS_OUT<5>" LOC = P61 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EMS_OUT<6>" LOC = P57 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EMS_OUT<7>" LOC = P62 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "MOD_PULSE_HMC" LOC = P10 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "SYNC_PULSE_HMC" LOC = P19 | IOSTANDARD = LVTTL; # | SLEW = SLOW | DRIVE = 8;
NET "HV_ON_HMC" LOC = P23 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "FIL_ON_HMC" LOC = P3 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "WG_SW_TERMn" LOC = P12 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "WG_SW_NOISEn" LOC = P36 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "WG_SW_CTRL_TERMn" LOC = P89 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "WG_SW_CTRL_NOISEn" LOC = P28 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "NOISE_SOURCE_EN" LOC = P24 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "WG_SW_ERROR" LOC = P13 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "MOD_PULSE_DISABLE" LOC = P15 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EMS_ERROR_1" LOC = P35 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EMS_ERROR_2" LOC = P34 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EMS_ERROR_3" LOC = P43 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EMS_ERROR_45" LOC = P31 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EMS_ERROR_67" LOC = P32 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EMS_ERROR_EVENT" LOC = P5 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "TEST_BIT_0" LOC = P83 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "TEST_BIT_1" LOC = P86 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "SPARE_STATUS0" LOC = P84 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "SPARE_STATUS1" LOC = P44 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "U6_OEn" LOC = P49 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "SPARE2" LOC = P6 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "SPARE3" LOC = P98 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

# Clock Signals
NET "EXT_CLK" TNM_NET = "EXT_CLK";

# Timing Specifications
TIMESPEC "TS_EXT_CLK"  = PERIOD "EXT_CLK"  64 ns HIGH 50%;

# VCCAUX
CONFIG VCCAUX = 3.3;
