# Unsed FPGA inputs
# NET "RDS_GND" LOC = "P95";
# NET "PW_GND" LOC = "P94";

NET "ONE_PPS" LOC = "P58";

# Unsed Pentek Timing Signals
# NET "TIMER_6" LOC = "P16";
# NET "TIMER_7" LOC = "P17";

# Pentek Timing Signals (Connector PN4)
NET "EXT_CLK" LOC = "P29";
NET "T0" LOC = "P60";
NET "MOD_PULSE" LOC = "P37";
NET "SYNC_PULSE" LOC = "P38";
NET "EMS_TRIG" LOC = "P15";
NET "RX_GATE2" LOC = "P18";

# Power Monitoring
NET "STATUS_5V" LOC = "P31";
NET "STATUS_8V" LOC = "P32";
NET "STATUS_12V" LOC = "P34";
NET "STATUS_15V" LOC = "P35";
NET "STATUS_28V" LOC = "P36";

# PMC 730 Commands
NET "HV_ON_730" LOC = "P87";
NET "FIL_ON_730" LOC = "P82";
NET "RESET_730" LOC = "P5";
# Pin assignment: OPSMODE_730_1, OPSMODE_730_0
NET "OPS_MODE_730<1>" LOC = "P44";
NET "OPS_MODE_730<0>" LOC = "P45";

# EMS latching circulator Built in Test (BIT) complementary inputs
# Pin assignment: (7 downto 1)
NET "BIT_EMS_P<7>" LOC = "P98";
NET "BIT_EMS_P<6>" LOC = "P13";
NET "BIT_EMS_P<5>" LOC = "P11";
NET "BIT_EMS_P<4>" LOC = "P9";
NET "BIT_EMS_P<3>" LOC = "P6";
NET "BIT_EMS_P<2>" LOC = "P3";
NET "BIT_EMS_P<1>" LOC = "P27";
NET "BIT_EMS_N<7>" LOC = "P99";
NET "BIT_EMS_N<6>" LOC = "P14";
NET "BIT_EMS_N<5>" LOC = "P12";
NET "BIT_EMS_N<4>" LOC = "P10";
NET "BIT_EMS_N<3>" LOC = "P8";
NET "BIT_EMS_N<2>" LOC = "P4";
NET "BIT_EMS_N<1>" LOC = "P30";

# EMS latching circulator complementary control signals
# Pin assignment: (7 downto 1)
NET "EMS_OUT<7>" LOC = "P26";
NET "EMS_OUT<6>" LOC = "P25";
NET "EMS_OUT<5>" LOC = "P24";
NET "EMS_OUT<4>" LOC = "P22";
NET "EMS_OUT<3>" LOC = "P21";
NET "EMS_OUT<2>" LOC = "P20";
NET "EMS_OUT<1>" LOC = "P19";

# Modulator complementary timing and control signals
NET "MOD_PULSE_OUT_P" LOC = "P42";
NET "MOD_PULSE_OUT_N" LOC = "P43";
NET "SYNC_PULSE_OUT_P" LOC = "P39";
NET "SYNC_PULSE_OUT_N" LOC = "P41";
NET "HV_ON_P" LOC = "P89";
NET "HV_ON_N" LOC = "P83";
NET "FIL_ON_P" LOC = "P91";
NET "FIL_ON_N" LOC = "P84";

# Status information
NET "MOD_PULSE_DISABLE" LOC = "P66";
NET "STATUS<2>" LOC = "P67";
NET "STATUS<1>" LOC = "P62";
NET "STATUS<0>" LOC = "P61";

# CMU timing signals
NET "MOD_PULSE_FUSELAGE" LOC = "P63";
NET "SYNC_PULSE_FUSELAGE" LOC = "P65";

# Available spare pins (accessible on PMC board header P3) 
NET "SPARE1"  LOC = "P48"; 
NET "SPARE2"  LOC = "P51"; 
NET "SPARE3"  LOC = "P52"; 
NET "SPARE4"  LOC = "P54"; 
NET "SPARE5"  LOC = "P55";
NET "SPARE6"  LOC = "P56"; 
NET "SPARE7"  LOC = "P57";  

# Declared but unused pins on Xillinx chip
#NET "SPARE10"  LOC = "P68"  ; 
#NET "SPARE11"  LOC = "P69"  ; 
#NET "SPARE12"  LOC = "P70"  ; 
#NET "SPARE13"  LOC = "P72"  ; 
#NET "SPARE14"  LOC = "P73"  ; 
#NET "SPARE15"  LOC = "P74"  ; 
#NET "SPARE16"  LOC = "P75"  ; 
#NET "SPARE17"  LOC = "P76"  ; 
#NET "SPARE18"  LOC = "P78"  ; 
#NET "SPARE19"  LOC = "P79"  ; 
#NET "SPARE20"  LOC = "P80"  ;
#NET "SPARE21"  LOC = "P81"  ; 
#NET "SPARE22"  LOC = "P96"  ; 
#NET "SPARE23"  LOC = "P97"  ;


