#----------------------------------------------------------------
# Title         : User Constraints
# Project       : Model 7142 Signal FPGA, in Virtex-4
#                   (XC4VSX55 or XC4VLX100)
#----------------------------------------------------------------
# File          : TOP_VSX55.UCF
# Author        : AB
# Created       : 06/15/05
# Last Modified : 03/15/07
# Modified by   : Marc A. Lee, formatted for GateFlow
#                   (Model 4953-142)
#                       Pentek, Inc.
#                       One Park Way,
#                       Upper Saddle River, NJ 07458
#                       (201) 818-5900
#                       www.pentek.com
#----------------------------------------------------------------
# Change log    :
#       03/15/07: Port kit to VLX100 FPGA - removed references
#                   to VSX55 and Option 055 above.
#----------------------------------------------------------------
# Description   : Signal FPGA for Pentek Model 7142,
#                   Pin Locations and characteristics,
#                   I/O standards and timing constraints
#----------------------------------------------------------------
NET "ADC_CLKI" LOC = E18 | IOSTANDARD = "LVTTL";

NET "ADC_DA<0>" LOC = B22 | IOSTANDARD = "LVTTL";
NET "ADC_DA<1>" LOC = C23 | IOSTANDARD = "LVTTL";
NET "ADC_DA<2>" LOC = F28 | IOSTANDARD = "LVTTL";
NET "ADC_DA<3>" LOC = K18 | IOSTANDARD = "LVTTL";
NET "ADC_DA<4>" LOC = J19 | IOSTANDARD = "LVTTL";
NET "ADC_DA<5>" LOC = H27 | IOSTANDARD = "LVTTL";
NET "ADC_DA<6>" LOC = K17 | IOSTANDARD = "LVTTL";
NET "ADC_DA<7>" LOC = C30 | IOSTANDARD = "LVTTL";
NET "ADC_DA<8>" LOC = J24 | IOSTANDARD = "LVTTL";
NET "ADC_DA<9>" LOC = D22 | IOSTANDARD = "LVTTL";
NET "ADC_DA<10>" LOC = B25 | IOSTANDARD = "LVTTL";
NET "ADC_DA<11>" LOC = E28 | IOSTANDARD = "LVTTL";
NET "ADC_DA<12>" LOC = A30 | IOSTANDARD = "LVTTL";
NET "ADC_DA<13>" LOC = A29 | IOSTANDARD = "LVTTL";

NET "ADC_DB<0>" LOC = K19 | IOSTANDARD = "LVTTL";
NET "ADC_DB<1>" LOC = G25 | IOSTANDARD = "LVTTL";
NET "ADC_DB<2>" LOC = H25 | IOSTANDARD = "LVTTL";
NET "ADC_DB<3>" LOC = G16 | IOSTANDARD = "LVTTL";
NET "ADC_DB<4>" LOC = H30 | IOSTANDARD = "LVTTL";
NET "ADC_DB<5>" LOC = C34 | IOSTANDARD = "LVTTL";
NET "ADC_DB<6>" LOC = H29 | IOSTANDARD = "LVTTL";
NET "ADC_DB<7>" LOC = J30 | IOSTANDARD = "LVTTL";
NET "ADC_DB<8>" LOC = M26 | IOSTANDARD = "LVTTL";
NET "ADC_DB<9>" LOC = J27 | IOSTANDARD = "LVTTL";
NET "ADC_DB<10>" LOC = M25 | IOSTANDARD = "LVTTL";
NET "ADC_DB<11>" LOC = J29 | IOSTANDARD = "LVTTL";
NET "ADC_DB<12>" LOC = K27 | IOSTANDARD = "LVTTL";
NET "ADC_DB<13>" LOC = C33 | IOSTANDARD = "LVTTL";

NET "ADC_DC<0>" LOC = A28 | IOSTANDARD = "LVTTL";
NET "ADC_DC<1>" LOC = C29 | IOSTANDARD = "LVTTL";
NET "ADC_DC<2>" LOC = G27 | IOSTANDARD = "LVTTL";
NET "ADC_DC<3>" LOC = C28 | IOSTANDARD = "LVTTL";
NET "ADC_DC<4>" LOC = B30 | IOSTANDARD = "LVTTL";
NET "ADC_DC<5>" LOC = K26 | IOSTANDARD = "LVTTL";
NET "ADC_DC<6>" LOC = K24 | IOSTANDARD = "LVTTL";
NET "ADC_DC<7>" LOC = C22 | IOSTANDARD = "LVTTL";
NET "ADC_DC<8>" LOC = E22 | IOSTANDARD = "LVTTL";
NET "ADC_DC<9>" LOC = J25 | IOSTANDARD = "LVTTL";
NET "ADC_DC<10>" LOC = C25 | IOSTANDARD = "LVTTL";
NET "ADC_DC<11>" LOC = L26 | IOSTANDARD = "LVTTL";
NET "ADC_DC<12>" LOC = E31 | IOSTANDARD = "LVTTL";
NET "ADC_DC<13>" LOC = F31 | IOSTANDARD = "LVTTL";

NET "ADC_DD<0>" LOC = B33 | IOSTANDARD = "LVTTL";
NET "ADC_DD<1>" LOC = B32 | IOSTANDARD = "LVTTL";
NET "ADC_DD<2>" LOC = L25 | IOSTANDARD = "LVTTL";
NET "ADC_DD<3>" LOC = F29 | IOSTANDARD = "LVTTL";
NET "ADC_DD<4>" LOC = E29 | IOSTANDARD = "LVTTL";
NET "ADC_DD<5>" LOC = D29 | IOSTANDARD = "LVTTL";
NET "ADC_DD<6>" LOC = F30 | IOSTANDARD = "LVTTL";
NET "ADC_DD<7>" LOC = G28 | IOSTANDARD = "LVTTL";
NET "ADC_DD<8>" LOC = H28 | IOSTANDARD = "LVTTL";
NET "ADC_DD<9>" LOC = C24 | IOSTANDARD = "LVTTL";
NET "ADC_DD<10>" LOC = G17 | IOSTANDARD = "LVTTL";
NET "ADC_DD<11>" LOC = B28 | IOSTANDARD = "LVTTL";
NET "ADC_DD<12>" LOC = D30 | IOSTANDARD = "LVTTL";
NET "ADC_DD<13>" LOC = D31 | IOSTANDARD = "LVTTL";

NET "ADC_OVRA" LOC = K33 | IOSTANDARD = "LVTTL";
NET "ADC_OVRB" LOC = N23 | IOSTANDARD = "LVTTL";
NET "ADC_OVRC" LOC = N22 | IOSTANDARD = "LVTTL";
NET "ADC_OVRD" LOC = K32 | IOSTANDARD = "LVTTL";

NET "ADJ_CLK" LOC = H33 | IOSTANDARD = "LVTTL";

NET "BUSA_MASTER" LOC = A21 | IOSTANDARD = "LVTTL";
NET "BUSA_TERM" LOC = P27 | IOSTANDARD = "LVTTL";
NET "BUSB_MASTER" LOC = E32 | IOSTANDARD = "LVTTL";
NET "BUSB_TERM" LOC = L34 | IOSTANDARD = "LVTTL";

NET "CLK_DETA" LOC = H32 | IOSTANDARD = "LVTTL";
NET "CLK_DETB" LOC = J32 | IOSTANDARD = "LVTTL";
NET "CLKEN_ADC" LOC = N30 | IOSTANDARD = "LVTTL";
NET "CLKEN_DAC" LOC = L33 | IOSTANDARD = "LVTTL";
NET "CLKSEL_ADC<0>" LOC = N27 | IOSTANDARD = "LVTTL";
NET "CLKSEL_ADC<1>" LOC = N29 | IOSTANDARD = "LVTTL";
NET "CLKSEL_DAC<0>" LOC = E33 | IOSTANDARD = "LVTTL";
NET "CLKSEL_DAC<1>" LOC = B21 | IOSTANDARD = "LVTTL";

NET "DAC_CLKI" LOC = F18 | IOSTANDARD = "LVTTL";

NET "DAC_DA<0>" LOC = C32 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<1>" LOC = A23 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<2>" LOC = E27 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<3>" LOC = R22 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<4>" LOC = P22 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<5>" LOC = K34 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<6>" LOC = B26 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<7>" LOC = A24 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<8>" LOC = G33 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<9>" LOC = P26 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<10>" LOC = N25 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<11>" LOC = B23 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<12>" LOC = A31 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<13>" LOC = R23 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<14>" LOC = F33 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DA<15>" LOC = J17 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<0>" LOC = M32 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<1>" LOC = D32 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<2>" LOC = E23 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<3>" LOC = D27 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<4>" LOC = H17 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<5>" LOC = F34 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<6>" LOC = J34 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<7>" LOC = R24 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<8>" LOC = P24 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<9>" LOC = G32 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<10>" LOC = R21 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<11>" LOC = M33 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<12>" LOC = B31 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<13>" LOC = F23 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<14>" LOC = A25 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_DB<15>" LOC = A26 | IOSTANDARD = "LVTTL" | SLEW = FAST;

NET "DAC_PHSTR" LOC = B27 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "DAC_PLLLOCK" LOC = E16 | IOSTANDARD = "LVTTL";
NET "DAC_QFLAG" LOC = G31 | IOSTANDARD = "LVTTL";
NET "DAC_RESET_N" LOC = C27 | IOSTANDARD = "LVTTL";
NET "DAC_SCLK" LOC = F26 | IOSTANDARD = "LVTTL";
NET "DAC_SDEN_N" LOC = F25 | IOSTANDARD = "LVTTL";
NET "DAC_SDIO" LOC = K29 | IOSTANDARD = "LVTTL";
NET "DAC_SDO" LOC = K28 | IOSTANDARD = "LVTTL";
NET "DAC_TXEN" LOC = G30 | IOSTANDARD = "LVTTL";

NET "DDR0_ADDRESS<0>" LOC = G10 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<1>" LOC = A13 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<2>" LOC = E11 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<3>" LOC = E14 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<4>" LOC = B11 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<5>" LOC = A11 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<6>" LOC = C13 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<7>" LOC = F11 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<8>" LOC = H12 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<9>" LOC = C4 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<10>" LOC = D14 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<11>" LOC = E4 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<12>" LOC = J11 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<13>" LOC = E13 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_ADDRESS<14>" LOC = G7 | IOSTANDARD = "SSTL18_I_DCI";

NET "DDR0_BA<0>" LOC = N13 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_BA<1>" LOC = N12 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_BA<2>" LOC = E12 | IOSTANDARD = "SSTL18_I_DCI";

NET "DDR0_CASB" LOC = A14 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_CKE" LOC = C14 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_CLK" LOC = D12 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_CLKB" LOC = C12 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_CSB" LOC = F10 | IOSTANDARD = "SSTL18_I_DCI";

NET "DDR0_DM<0>" LOC = A4 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DM<1>" LOC = C9 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DM<2>" LOC = A6 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DM<3>" LOC = K6 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR0_DQ<0>" LOC = B7 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<1>" LOC = C7 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<2>" LOC = E6 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<3>" LOC = C5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<4>" LOC = D7 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<5>" LOC = D6 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<6>" LOC = D5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<7>" LOC = F6 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<8>" LOC = B10 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<9>" LOC = C10 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<10>" LOC = A8 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<11>" LOC = B8 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<12>" LOC = B3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<13>" LOC = B2 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<14>" LOC = A5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<15>" LOC = B5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<16>" LOC = A10 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<17>" LOC = A9 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<18>" LOC = D9 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<19>" LOC = E9 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<20>" LOC = H8 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<21>" LOC = H7 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<22>" LOC = G8 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<23>" LOC = F8 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<24>" LOC = C2 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<25>" LOC = H3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<26>" LOC = F3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<27>" LOC = F4 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<28>" LOC = H4 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<29>" LOC = H5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<30>" LOC = D2 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQ<31>" LOC = H2 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR0_DQS<0>" LOC = J9 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQS<1>" LOC = H10 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQS<2>" LOC = B13 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQS<3>" LOC = D1 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR0_DQSB<0>" LOC = K9 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQSB<1>" LOC = H9 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQSB<2>" LOC = B12 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_DQSB<3>" LOC = E1 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR0_FB0IN" LOC = G12 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_FB0OUT" LOC = G11 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_FB1IN" LOC = K2 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR0_FB1OUT" LOC = K1 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR0_ODT" LOC = D11 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_RASB" LOC = C3 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR0_WEB" LOC = D4 | IOSTANDARD = "SSTL18_I_DCI";

NET "DDR1_ADDRESS<0>" LOC = P11 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<1>" LOC = P7 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<2>" LOC = L1 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<3>" LOC = M1 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<4>" LOC = M6 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<5>" LOC = P6 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<6>" LOC = M5 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<7>" LOC = M3 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<8>" LOC = P12 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<9>" LOC = AE4 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<10>" LOC = P5 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<11>" LOC = N5 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<12>" LOC = N10 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<13>" LOC = J7 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_ADDRESS<14>" LOC = AC7 | IOSTANDARD = "SSTL18_I_DCI";

NET "DDR1_BA<0>" LOC = AF5 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_BA<1>" LOC = AA8 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_BA<2>" LOC = K8 | IOSTANDARD = "SSTL18_I_DCI";

NET "DDR1_CASB" LOC = AH5 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_CKE" LOC = AA9 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_CLK" LOC = AG8 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_CLKB" LOC = AG7 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_CSB" LOC = AD4 | IOSTANDARD = "SSTL18_I_DCI";

NET "DDR1_DM<0>" LOC = R11 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DM<1>" LOC = T11 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DM<2>" LOC = AA15 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DM<3>" LOC = Y16 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR1_DQ<0>" LOC = L4 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<1>" LOC = L5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<2>" LOC = P10 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<3>" LOC = K4 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<4>" LOC = M7 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<5>" LOC = N7 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<6>" LOC = G3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<7>" LOC = G2 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<8>" LOC = R9 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<9>" LOC = T10 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<10>" LOC = M8 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<11>" LOC = L8 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<12>" LOC = J6 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<13>" LOC = J5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<14>" LOC = G1 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<15>" LOC = F1 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<16>" LOC = AG2 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<17>" LOC = AG1 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<18>" LOC = AE1 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<19>" LOC = AF1 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<20>" LOC = AJ1 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<21>" LOC = AJ2 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<22>" LOC = AE3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<23>" LOC = AE2 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<24>" LOC = AD6 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<25>" LOC = AD5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<26>" LOC = AG3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<27>" LOC = AF3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<28>" LOC = AB5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<29>" LOC = AB6 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<30>" LOC = AC8 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQ<31>" LOC = AC9 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR1_DQS<0>" LOC = E3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQS<1>" LOC = K3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQS<2>" LOC = AC10 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQS<3>" LOC = AE7 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR1_DQSB<0>" LOC = E2 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQSB<1>" LOC = L3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQSB<2>" LOC = AB10 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_DQSB<3>" LOC = AD7 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR1_FB0IN" LOC = F5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_FB0OUT" LOC = G5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_FB1IN" LOC = AL3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR1_FB1OUT" LOC = AM3 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR1_ODT" LOC = M10 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_RASB" LOC = AE6 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR1_WEB" LOC = AF6 | IOSTANDARD = "SSTL18_I_DCI";

NET "DDR2_ADDRESS<0>" LOC = AJ5 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<1>" LOC = AJ6 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<2>" LOC = AG10 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<3>" LOC = AM6 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<4>" LOC = AJ12 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<5>" LOC = AK12 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<6>" LOC = AE11 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<7>" LOC = AH10 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<8>" LOC = AH12 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<9>" LOC = AG11 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<10>" LOC = AF11 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<11>" LOC = AM5 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<12>" LOC = AP9 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<13>" LOC = AP11 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_ADDRESS<14>" LOC = AP10 | IOSTANDARD = "SSTL18_I_DCI";

NET "DDR2_BA<0>" LOC = AF8 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_BA<1>" LOC = AL1 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_BA<2>" LOC = AD10 | IOSTANDARD = "SSTL18_I_DCI";

NET "DDR2_CASB" LOC = AE8 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_CKE" LOC = AB13 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_CLK" LOC = AN7 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_CLKB" LOC = AM7 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_CSB" LOC = AK1 | IOSTANDARD = "SSTL18_I_DCI";

NET "DDR2_DM<0>" LOC = AN14 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DM<1>" LOC = AM13 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DM<2>" LOC = AP14 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DM<3>" LOC = AD2 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR2_DQ<0>" LOC = AJ10 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<1>" LOC = AN8 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<2>" LOC = AM11 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<3>" LOC = AM12 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<4>" LOC = AL6 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<5>" LOC = AK6 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<6>" LOC = AJ9 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<7>" LOC = AM8 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<8>" LOC = AN2 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<9>" LOC = AN5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<10>" LOC = AP5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<11>" LOC = AN3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<12>" LOC = AK8 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<13>" LOC = AL8 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<14>" LOC = AP4 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<15>" LOC = AN4 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<16>" LOC = AK7 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<17>" LOC = AJ7 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<18>" LOC = AL4 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<19>" LOC = AL5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<20>" LOC = AM10 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<21>" LOC = AN10 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<22>" LOC = AJ4 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<23>" LOC = AK4 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<24>" LOC = AC2 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<25>" LOC = AC3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<26>" LOC = Y14 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<27>" LOC = AA13 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<28>" LOC = AC5 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<29>" LOC = AC4 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<30>" LOC = AA11 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQ<31>" LOC = Y11 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR2_DQS<0>" LOC = AP7 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQS<1>" LOC = AK13 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQS<2>" LOC = AL11 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQS<3>" LOC = Y13 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR2_DQSB<0>" LOC = AP6 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQSB<1>" LOC = AL13 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQSB<2>" LOC = AL10 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_DQSB<3>" LOC = Y12 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR2_FB0IN" LOC = AN12 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_FB0OUT" LOC = AP12 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_FB1IN" LOC = AK3 | IOSTANDARD = "SSTL18_II_DCI";
NET "DDR2_FB1OUT" LOC = AK2 | IOSTANDARD = "SSTL18_II_DCI";

NET "DDR2_ODT" LOC = AH8 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_RASB" LOC = AN9 | IOSTANDARD = "SSTL18_I_DCI";
NET "DDR2_WEB" LOC = AB12 | IOSTANDARD = "SSTL18_I_DCI";

NET "EXTCLKA_EN" LOC = E24 | IOSTANDARD = "LVTTL";
NET "EXTCLKB_EN" LOC = M31 | IOSTANDARD = "LVTTL";

NET "FLASH_RP_N" LOC = M30 | IOSTANDARD = "LVTTL";

NET "GATEA_DISBL" LOC = D26 | IOSTANDARD = "LVTTL";
NET "GATEA_IN_N" LOC = R19 | IOSTANDARD = "LVTTL";
NET "GATEA_INT" LOC = G23 | IOSTANDARD = "LVTTL";
NET "GATEA_OUT_N" LOC = P20 | IOSTANDARD = "LVTTL" | SLEW = FAST | DRIVE = 24;
NET "GATEA_SRC" LOC = E26 | IOSTANDARD = "LVTTL";
NET "GATEA_TTL" LOC = H24 | IOSTANDARD = "LVTTL";
NET "GATEB_DISBL" LOC = D25 | IOSTANDARD = "LVTTL";

NET "GATEB_IN_N" LOC = L29 | IOSTANDARD = "LVTTL";
NET "GATEB_INT" LOC = E34 | IOSTANDARD = "LVTTL";
NET "GATEB_OUT_N" LOC = L28 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "GATEB_SRC" LOC = D34 | IOSTANDARD = "LVTTL";
NET "GATEB_TTL" LOC = D24 | IOSTANDARD = "LVTTL";

NET "IIC_CLK" LOC = L30 | IOSTANDARD = "LVTTL";
NET "IIC_DAT" LOC = L31 | IOSTANDARD = "LVTTL";

NET "LAD<0>" LOC = AD17 | IOSTANDARD = "LVCMOS25";
NET "LAD<1>" LOC = M17 | IOSTANDARD = "LVCMOS25";
NET "LAD<2>" LOC = AJ20 | IOSTANDARD = "LVCMOS25";
NET "LAD<3>" LOC = N17 | IOSTANDARD = "LVCMOS25";
NET "LAD<4>" LOC = L15 | IOSTANDARD = "LVCMOS25";
NET "LAD<5>" LOC = C20 | IOSTANDARD = "LVCMOS25";
NET "LAD<6>" LOC = H22 | IOSTANDARD = "LVCMOS25";
NET "LAD<7>" LOC = F20 | IOSTANDARD = "LVCMOS25";
NET "LAD<8>" LOC = AL14 | IOSTANDARD = "LVCMOS25";
NET "LAD<9>" LOC = F21 | IOSTANDARD = "LVCMOS25";
NET "LAD<10>" LOC = AC19 | IOSTANDARD = "LVCMOS25";
NET "LAD<11>" LOC = AH17 | IOSTANDARD = "LVCMOS25";
NET "LAD<12>" LOC = AM17 | IOSTANDARD = "LVCMOS25";
NET "LAD<13>" LOC = E21 | IOSTANDARD = "LVCMOS25";
NET "LAD<14>" LOC = G13 | IOSTANDARD = "LVCMOS25";
NET "LAD<15>" LOC = AK18 | IOSTANDARD = "LVCMOS25";
NET "LAD<16>" LOC = H15 | IOSTANDARD = "LVCMOS25";
NET "LAD<17>" LOC = J15 | IOSTANDARD = "LVCMOS25";
NET "LAD<18>" LOC = AG22 | IOSTANDARD = "LVCMOS25";
NET "LAD<19>" LOC = D21 | IOSTANDARD = "LVCMOS25";
NET "LAD<20>" LOC = AM16 | IOSTANDARD = "LVCMOS25";
NET "LAD<21>" LOC = AA25 | IOSTANDARD = "LVCMOS25";
NET "LAD<22>" LOC = F14 | IOSTANDARD = "LVCMOS25";
NET "LAD<23>" LOC = AF15 | IOSTANDARD = "LVCMOS25";
NET "LAD<24>" LOC = AL16 | IOSTANDARD = "LVCMOS25";
NET "LAD<25>" LOC = AM18 | IOSTANDARD = "LVCMOS25";
NET "LAD<26>" LOC = AC17 | IOSTANDARD = "LVCMOS25";
NET "LAD<27>" LOC = H14 | IOSTANDARD = "LVCMOS25";
NET "LAD<28>" LOC = AL20 | IOSTANDARD = "LVCMOS25";
NET "LAD<29>" LOC = B15 | IOSTANDARD = "LVCMOS25";
NET "LAD<30>" LOC = AA26 | IOSTANDARD = "LVCMOS25";
NET "LAD<31>" LOC = G15 | IOSTANDARD = "LVCMOS25";
NET "LAD<32>" LOC = K14 | IOSTANDARD = "LVCMOS25";
NET "LAD<33>" LOC = AL18 | IOSTANDARD = "LVCMOS25";
NET "LAD<34>" LOC = AJ17 | IOSTANDARD = "LVCMOS25";
NET "LAD<35>" LOC = AJ19 | IOSTANDARD = "LVCMOS25";
NET "LAD<36>" LOC = H20 | IOSTANDARD = "LVCMOS25";
NET "LAD<37>" LOC = AK17 | IOSTANDARD = "LVCMOS25";
NET "LAD<38>" LOC = J14 | IOSTANDARD = "LVCMOS25";
NET "LAD<39>" LOC = L14 | IOSTANDARD = "LVCMOS25";
NET "LAD<40>" LOC = AK16 | IOSTANDARD = "LVCMOS25";
NET "LAD<41>" LOC = AK19 | IOSTANDARD = "LVCMOS25";
NET "LAD<42>" LOC = N19 | IOSTANDARD = "LVCMOS25";
NET "LAD<43>" LOC = AD16 | IOSTANDARD = "LVCMOS25";
NET "LAD<44>" LOC = L16 | IOSTANDARD = "LVCMOS25";
NET "LAD<45>" LOC = A20 | IOSTANDARD = "LVCMOS25";
NET "LAD<46>" LOC = A15 | IOSTANDARD = "LVCMOS25";
NET "LAD<47>" LOC = L19 | IOSTANDARD = "LVCMOS25";
NET "LAD<48>" LOC = AE19 | IOSTANDARD = "LVCMOS25";
NET "LAD<49>" LOC = F13 | IOSTANDARD = "LVCMOS25";
NET "LAD<50>" LOC = C15 | IOSTANDARD = "LVCMOS25";
NET "LAD<51>" LOC = B20 | IOSTANDARD = "LVCMOS25";
NET "LAD<52>" LOC = J20 | IOSTANDARD = "LVCMOS25";
NET "LAD<53>" LOC = K16 | IOSTANDARD = "LVCMOS25";
NET "LAD<54>" LOC = C19 | IOSTANDARD = "LVCMOS25";
NET "LAD<55>" LOC = D19 | IOSTANDARD = "LVCMOS25";
NET "LAD<56>" LOC = N18 | IOSTANDARD = "LVCMOS25";
NET "LAD<57>" LOC = H13 | IOSTANDARD = "LVCMOS25";
NET "LAD<58>" LOC = J21 | IOSTANDARD = "LVCMOS25";
NET "LAD<59>" LOC = M20 | IOSTANDARD = "LVCMOS25";
NET "LAD<60>" LOC = AH22 | IOSTANDARD = "LVCMOS25";
NET "LAD<61>" LOC = AD19 | IOSTANDARD = "LVCMOS25";
NET "LAD<62>" LOC = AH18 | IOSTANDARD = "LVCMOS25";
NET "LAD<63>" LOC = D20 | IOSTANDARD = "LVCMOS25";

NET "LADS_N" LOC = AG17 | IOSTANDARD = "LVCMOS25";
NET "LBE0_N" LOC = AJ21 | IOSTANDARD = "LVCMOS25";
NET "LBE4_N" LOC = G21 | IOSTANDARD = "LVCMOS25";
NET "LBLAST_N" LOC = AB17 | IOSTANDARD = "LVCMOS25";
NET "LCLKI" LOC = AH19 | IOSTANDARD = "LVCMOS25";

NET "LDREQ_N<0>" LOC = AE16 | IOSTANDARD = "LVCMOS25";
NET "LDREQ_N<10>" LOC = AJ14 | IOSTANDARD = "LVCMOS25";
NET "LDREQ_N<11>" LOC = AJ15 | IOSTANDARD = "LVCMOS25";
NET "LDREQ_N<1>" LOC = AE18 | IOSTANDARD = "LVCMOS25";
NET "LDREQ_N<2>" LOC = AE17 | IOSTANDARD = "LVCMOS25";
NET "LDREQ_N<3>" LOC = AF18 | IOSTANDARD = "LVCMOS25";
NET "LDREQ_N<4>" LOC = AF16 | IOSTANDARD = "LVCMOS25";
NET "LDREQ_N<5>" LOC = AG16 | IOSTANDARD = "LVCMOS25";
NET "LDREQ_N<6>" LOC = AG20 | IOSTANDARD = "LVCMOS25";
NET "LDREQ_N<7>" LOC = AJ22 | IOSTANDARD = "LVCMOS25";
NET "LDREQ_N<8>" LOC = N20 | IOSTANDARD = "LVCMOS25";
NET "LDREQ_N<9>" LOC = AB16 | IOSTANDARD = "LVCMOS25";

NET "LHOLD" LOC = AB15 | IOSTANDARD = "LVCMOS25";
NET "LHOLDA" LOC = AC15 | IOSTANDARD = "LVCMOS25";

NET "LIRQ_N<0>" LOC = AL15 | IOSTANDARD = "LVCMOS25";
NET "LIRQ_N<1>" LOC = C17 | IOSTANDARD = "LVCMOS25";
NET "LIRQ_N<2>" LOC = AD21 | IOSTANDARD = "LVCMOS25";
NET "LIRQ_N<3>" LOC = AM15 | IOSTANDARD = "LVCMOS25";

NET "LREADY_N" LOC = AG15 | IOSTANDARD = "LVCMOS25";
NET "LRST_N" LOC = AK14 | IOSTANDARD = "LVCMOS25";
NET "LRW" LOC = AD20 | IOSTANDARD = "LVCMOS25";
NET "LSPARE<0>" LOC = C18 | IOSTANDARD = "LVCMOS25";
NET "LSPARE<1>" LOC = D17 | IOSTANDARD = "LVCMOS25";
NET "LSPARE<2>" LOC = D16 | IOSTANDARD = "LVCMOS25";
NET "LSPARE<3>" LOC = AH20 | IOSTANDARD = "LVCMOS25";
NET "LSPARE<4>" LOC = AH14 | IOSTANDARD = "LVCMOS25";
NET "LWAIT_N" LOC = AB18 | IOSTANDARD = "LVCMOS25";

NET "LVDS1_CTL_N"       LOC =  "Y26";
NET "LVDS1_CTL_P"       LOC =  "W25";

NET "LVDS1_DAT_N<0>"    LOC = "AA29";
NET "LVDS1_DAT_N<1>"    LOC = "AB28";
NET "LVDS1_DAT_N<2>"    LOC = "AC30";
NET "LVDS1_DAT_N<3>"    LOC = "AD31";
NET "LVDS1_DAT_N<4>"    LOC = "AD32";
NET "LVDS1_DAT_N<5>"    LOC = "AE31";
NET "LVDS1_DAT_N<6>"    LOC = "AG31";
NET "LVDS1_DAT_N<7>"    LOC = "AJ32";
NET "LVDS1_DAT_N<8>"    LOC =  "Y24";
NET "LVDS1_DAT_N<9>"    LOC = "AD29";
NET "LVDS1_DAT_N<10>"   LOC = "AF34";
NET "LVDS1_DAT_N<11>"   LOC = "AG33";
NET "LVDS1_DAT_N<12>"   LOC = "AH33";
NET "LVDS1_DAT_N<13>"   LOC = "AE34";
NET "LVDS1_DAT_N<14>"   LOC = "AA30";
NET "LVDS1_DAT_N<15>"   LOC = "AC33";

NET "LVDS1_DAT_P<0>"    LOC = "AA28";
NET "LVDS1_DAT_P<1>"    LOC = "AC28";
NET "LVDS1_DAT_P<2>"    LOC = "AC29";
NET "LVDS1_DAT_P<3>"    LOC = "AD30";
NET "LVDS1_DAT_P<4>"    LOC = "AE32";
NET "LVDS1_DAT_P<5>"    LOC = "AF31";
NET "LVDS1_DAT_P<6>"    LOC = "AG30";
NET "LVDS1_DAT_P<7>"    LOC = "AJ31";
NET "LVDS1_DAT_P<8>"    LOC =  "W24";
NET "LVDS1_DAT_P<9>"    LOC = "AE29";
NET "LVDS1_DAT_P<10>"   LOC = "AF33";
NET "LVDS1_DAT_P<11>"   LOC = "AG32";
NET "LVDS1_DAT_P<12>"   LOC = "AH32";
NET "LVDS1_DAT_P<13>"   LOC = "AE33";
NET "LVDS1_DAT_P<14>"   LOC = "AB30";
NET "LVDS1_DAT_P<15>"   LOC = "AC32";

NET "LVDS1_GCFB_N"      LOC = "AP20";
NET "LVDS1_GCFB_P"      LOC = "AN20";
NET "LVDS1_GCLK_N"      LOC = "AP22";
NET "LVDS1_GCLK_P"      LOC = "AP21";
NET "LVDS1_RC_OUT_N"    LOC = "AH34";
NET "LVDS1_RC_OUT_P"    LOC = "AJ34";

NET "LVDS2_CTL_N"       LOC = "AD26";
NET "LVDS2_CTL_P"       LOC = "AC25";

NET "LVDS2_DAT_N<0>"    LOC = "AB26";
NET "LVDS2_DAT_N<1>"    LOC = "AB23";
NET "LVDS2_DAT_N<2>"    LOC = "AG26";
NET "LVDS2_DAT_N<3>"    LOC = "AM33";
NET "LVDS2_DAT_N<4>"    LOC = "AL34";
NET "LVDS2_DAT_N<5>"    LOC = "AK34";
NET "LVDS2_DAT_N<6>"    LOC = "AL29";
NET "LVDS2_DAT_N<7>"    LOC = "AC27";
NET "LVDS2_DAT_N<8>"    LOC = "AH30";
NET "LVDS2_DAT_N<9>"    LOC = "AL31";
NET "LVDS2_DAT_N<10>"   LOC = "AA24";
NET "LVDS2_DAT_N<11>"   LOC = "AH24";
NET "LVDS2_DAT_N<12>"   LOC = "AH25";
NET "LVDS2_DAT_N<13>"   LOC = "AJ24";
NET "LVDS2_DAT_N<14>"   LOC = "AK26";
NET "LVDS2_DAT_N<15>"   LOC = "AM25";

NET "LVDS2_DAT_P<0>"    LOC = "AB25";
NET "LVDS2_DAT_P<1>"    LOC = "AB22";
NET "LVDS2_DAT_P<2>"    LOC = "AG25";
NET "LVDS2_DAT_P<3>"    LOC = "AM32";
NET "LVDS2_DAT_P<4>"    LOC = "AL33";
NET "LVDS2_DAT_P<5>"    LOC = "AK33";
NET "LVDS2_DAT_P<6>"    LOC = "AL28";
NET "LVDS2_DAT_P<7>"    LOC = "AD27";
NET "LVDS2_DAT_P<8>"    LOC = "AJ30";
NET "LVDS2_DAT_P<9>"    LOC = "AM31";
NET "LVDS2_DAT_P<10>"   LOC = "AA23";
NET "LVDS2_DAT_P<11>"   LOC = "AH23";
NET "LVDS2_DAT_P<12>"   LOC = "AJ25";
NET "LVDS2_DAT_P<13>"   LOC = "AK24";
NET "LVDS2_DAT_P<14>"   LOC = "AL26";
NET "LVDS2_DAT_P<15>"   LOC = "AN25";

NET "LVDS2_GCFB_N"      LOC = "AL19";
NET "LVDS2_GCFB_P"      LOC = "AM20";
NET "LVDS2_GCLK_N"      LOC = "AL21";
NET "LVDS2_GCLK_P"      LOC = "AK21";
NET "LVDS2_RC_OUT_N"    LOC = "AK28";
NET "LVDS2_RC_OUT_P"    LOC = "AK27";

NET "LVDS3_CTL_N"       LOC = "AM23";
NET "LVDS3_CTL_P"       LOC = "AL23";

NET "LVDS3_DAT_N<0>"    LOC = "AK23";
NET "LVDS3_DAT_N<1>"    LOC = "AH27";
NET "LVDS3_DAT_N<2>"    LOC = "AN33";
NET "LVDS3_DAT_N<3>"    LOC = "AN23";
NET "LVDS3_DAT_N<4>"    LOC = "AP26";
NET "LVDS3_DAT_N<5>"    LOC = "AM27";
NET "LVDS3_DAT_N<6>"    LOC = "AN29";
NET "LVDS3_DAT_N<7>"    LOC = "AL30";
NET "LVDS3_DAT_N<8>"    LOC = "AN27";
NET "LVDS3_DAT_N<9>"    LOC = "AN24";
NET "LVDS3_DAT_N<10>"   LOC = "AE26";
NET "LVDS3_DAT_N<11>"   LOC = "AE27";
NET "LVDS3_DAT_N<12>"   LOC = "AH29";
NET "LVDS3_DAT_N<13>"   LOC = "AF24";
NET "LVDS3_DAT_N<14>"   LOC = "AJ29";
NET "LVDS3_DAT_N<15>"   LOC = "AP32";

NET "LVDS3_DAT_P<0>"    LOC = "AK22";
NET "LVDS3_DAT_P<1>"    LOC = "AJ27";
NET "LVDS3_DAT_P<2>"    LOC = "AN32";
NET "LVDS3_DAT_P<3>"    LOC = "AN22";
NET "LVDS3_DAT_P<4>"    LOC = "AP25";
NET "LVDS3_DAT_P<5>"    LOC = "AM26";
NET "LVDS3_DAT_P<6>"    LOC = "AP29";
NET "LVDS3_DAT_P<7>"    LOC = "AM30";
NET "LVDS3_DAT_P<8>"    LOC = "AP27";
NET "LVDS3_DAT_P<9>"    LOC = "AP24";
NET "LVDS3_DAT_P<10>"   LOC = "AF26";
NET "LVDS3_DAT_P<11>"   LOC = "AF28";
NET "LVDS3_DAT_P<12>"   LOC = "AH28";
NET "LVDS3_DAT_P<13>"   LOC = "AG23";
NET "LVDS3_DAT_P<14>"   LOC = "AK29";
NET "LVDS3_DAT_P<15>"   LOC = "AP31";

NET "LVDS3_RC_IN_N"     LOC = "AM22";
NET "LVDS3_RC_IN_P"     LOC = "AM21";

NET "LVDS4_CTL_N"       LOC = "AL25";
NET "LVDS4_CTL_P"       LOC = "AL24";

NET "LVDS4_DAT_N<0>"    LOC = "AM28";
NET "LVDS4_DAT_N<1>"    LOC = "AN30";
NET "LVDS4_DAT_N<2>"    LOC = "AF30";
NET "LVDS4_DAT_N<3>"    LOC = "AK32";

NET "LVDS4_DAT_P<0>"    LOC = "AN28";
NET "LVDS4_DAT_P<1>"    LOC = "AP30";
NET "LVDS4_DAT_P<2>"    LOC = "AF29";
NET "LVDS4_DAT_P<3>"    LOC = "AK31";

NET "LVDS4_RC_IN_N"     LOC = "AG28";
NET "LVDS4_RC_IN_P"     LOC = "AG27";

NET "MEM_CLK_N"         LOC =  "L18";
NET "MEM_CLK_P"         LOC =  "M18";

NET "PLLVDD" LOC = F24 | IOSTANDARD = "LVTTL";

NET "REF_CLK_N"         LOC =  "N15";
NET "REF_CLK_P"         LOC =  "M16";

NET "SYNCA_IN_N" LOC = M27 | IOSTANDARD = "LVTTL";
NET "SYNCA_OUT_N" LOC = M28 | IOSTANDARD = "LVTTL" | SLEW = FAST | DRIVE = 24;
NET "SYNCA_TTL" LOC = H34 | IOSTANDARD = "LVTTL";

NET "SYNCB_IN_N" LOC = J31 | IOSTANDARD = "LVTTL";
NET "SYNCB_OUT_N" LOC = K31 | IOSTANDARD = "LVTTL" | SLEW = FAST;
NET "SYNCB_TTL" LOC = H19 | IOSTANDARD = "LVTTL";

NET "TMP_VLT_INT1_N" LOC = H18 | IOSTANDARD = "LVTTL";

#----------------------------------------------------------------
# -- ***************** Timing  Constraints ***************** -- #
#----------------------------------------------------------------
# Ignore Timing for local signal "dat_en".
NET "dat_en"    TIG;

# Local Bus Control Signal Timing
NET "LBLAST_N"  OFFSET =  IN 7 ns BEFORE "LCLKI";
NET "LBE0_N"    OFFSET =  IN 7 ns BEFORE "LCLKI";
NET "LBE4_N"    OFFSET =  IN 7 ns BEFORE "LCLKI";
NET "LREADY_N"  OFFSET = OUT 9 ns  AFTER "LCLKI";

# Clock Signals
NET "ADC_CLKI"  TNM_NET = "ADC_CLKI";
NET "DAC_CLKI"  TNM_NET = "DAC_CLKI";
NET "LCLKI"     TNM_NET = "LCLKI";
NET "MEM_CLK_N" TNM_NET = "MEM_CLK_N";
NET "MEM_CLK_P" TNM_NET = "MEM_CLK_P";
NET "SYS_CLK"   TNM_NET = "SYS_CLK";

TIMESPEC "TS_ADC_CLKI"  = PERIOD "ADC_CLKI"  8 ns HIGH 50%;
TIMESPEC "TS_DAC_CLKI"  = PERIOD "DAC_CLKI"  8 ns HIGH 50%;
TIMESPEC "TS_LCLKI"     = PERIOD "LCLKI"    14 ns HIGH 50%;
TIMESPEC "TS_MEM_CLK_N" = PERIOD "MEM_CLK_N" 8 ns HIGH 50%;
TIMESPEC "TS_MEM_CLK_P" = PERIOD "MEM_CLK_P" 8 ns HIGH 50%;
TIMESPEC "TS_SYS_CLK"   = PERIOD "SYS_CLK"   8 ns HIGH 50%;

# End of file - TOP_VSX55.UCF
TIMEGRP "ADC_CLKI" AREA_GROUP = "MasterClk";
